html, body {
		
}

.i-padded-right {
	padding: 0 3px 0 0;
}

.mcz {}

.mcz-wrapper {
	position: absolute;
	top: 63px;
}

.form-group input, .form-group button {
	margin: 3px 0;
}

.page-container {
	display: none;
	padding: 6px;
}

.page-messaging {
	width: inherit;
	text-align: center;
	padding: 6px;	
}
.page-messaging i {
	margin: 0 3px 0 0;
}

.page-messaging .success {
	color: green;
}

.log-message {
	text-align: left;
}
.navr {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	clear: both;
	background-color: rgb(44, 62, 80);
	color: #FFFFFF;
	font-size: 17px;
}

.navr-item {
	line-height: 60px;
	margin: 0 9px;
	display: inline;
	cursor: pointer;
}

.stats {
	text-align: center;
}

.stat-group {
	border-bottom: 1px solid rgb(44, 62, 80);
	
}

.stat-label {
	font-size: 1.5em;
	background-color: rgb(44, 62, 80);
	color: #FFFFFF;
	border-radius: 3px;
}

.stat-value {
    font-size: 2em;
	color: color: rgb(44, 62, 80);
}



/* RWD style changes */
@media only screen and (min-width : 481px)  {

}

@media only screen and (max-width : 480px)  { 
	.nav-item-title {
		display: none;
	}	
	.navr-item { 
		font-size: 22px;
	}
	.typeahead.dropdown-menu li {
		font-size: 18px;
	}
}

